@import 'theme';

#papers-bar-container {
    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        font-size: 10px;
        outline: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background: #ecf0f3;
        border-radius: 5px;

        .icon {
            opacity: 0.6;
        }

        h3,
        h4,
        h5,
        h6,
        p {
            overflow-wrap: break-word;
            padding: 0;
            margin: 2px 0;
        }

        h5 {
            font-size: 1.8em;
            margin: 7px 0;
        }

        h6 {
            font-size: 0.85rem;
            margin-bottom: 6px;
            font-weight: 300;
            line-height: 1.5;
        }

        input[type='checkbox'] {
            transform: scale(1.2);
            margin-top: 18px;
            border-radius: 50%;
            border: 1px solid #ddd;
        }

        .pdf-thumb {
            margin-right: 25px;
            width: 75px;
            background: white;
        }

        .content {
            width: 100%;
        }

        .top-line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .label {
                padding: 2px 8px;
                font-size: 10px;
                margin-right: 0;
            }
        }

        .info {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                display: inline-flex;
                align-items: baseline;
                font-size: 1.4em;
                margin-right: 1em;
                min-width: 50px;
                box-sizing: content-box;

                @media screen and (max-width: 550px) {
                    min-width: 40px;
                    font-size: 1.2em;
                    margin-right: 0.6em;
                }

                @media screen and (max-width: 400px) {
                    min-width: 37px;
                    font-size: 1.1em;
                    margin-right: 0.6em;
                }

                .icon-container {
                    font-size: 1.3em;

                    .icon:not(:last-child) {
                        margin-right: 0.2em;
                    }
                }
            }
        }

        &:hover {
            text-decoration: none;
        }
    }

    .list-group-item {
        position: relative;
        padding: 0.5rem;
        text-decoration: none;
    }

    .list-group-item-action {
        color: #495057;
        text-align: inherit;
    }

    .brand-icon {
        opacity: 0.6;
        font-size: 18px;
        display: inline-block;
        width: 30px;
        text-align: center;

        &.twitter-color {
            color: #1da1f2;
        }

        &.reddit-color {
            color: #ff5700;
            opacity: 1;
        }

        &.hacker-news-color {
            color: #ff6600;
            border-radius: 50%;
            opacity: 1;
            overflow: hidden;
            font-size: 29px !important;
            position: relative;
            text-align: unset;

            &:before {
                display: inline-block;
                position: absolute;
                top: -1px;
            }
        }

        &.nn-color {
            //color: #E86C1DFF;
        }

        &.youtube {
            color: #ff0000;
            background-color: #ffffff;
            font-size: 17px !important;
            border-radius: 50%;
            padding: 4px 3.375px;
            opacity: 1;
        }

        &.papers-with-code {
            svg {
                width: 17px;
                height: 17px;
            }
        }

        &.slides-live {
            fill: #dd0b2b;
            width: 1em;
            height: 1em;
            opacity: 1;

            &:before {
                content: ' ';
                display: block;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 310 310"><path fill="%23dd0b2b" d="M142.8 3.1c-2 .3-4.4.4-5.4.3-1-.2-2.2.2-2.6.9-.6.9-.8.8-.8-.2 0-.9-.4-1-1.2-.4-.7.6-2.3.9-3.5.8-1.3-.1-2.3.3-2.3.8s-.8.3-1.7-.4c-1.1-1-1.4-1-.9-.2.7 1.3-.3 1.7-3.6 1.4-1-.1-1.8.2-1.8.7 0 .5-1 .8-2.2.7-1.3-.1-2.8.2-3.5.7-.7.5-1.7.7-2.3.3-.5-.3-1-.1-1 .6s-.3 1-.6.6c-.4-.3-2 .1-3.6.9s-3.3 1.2-3.8.9c-.6-.3-1-.1-1 .4 0 .6-.9 1.1-2 1.1s-2 .5-2 1.1c0 .6-.7.9-1.5.5-.8-.3-1.5-.1-1.5.5s-.4.7-1 .4c-.5-.3-1-.1-1 .5s-.4.8-1 .5c-.5-.3-1-.1-1 .4 0 .6-.3 1-.7 1-2-.4-7.2 2.4-6.6 3.4.3.7.3.9-.2.5-1-.9-6.5 1.9-6.5 3.3 0 .6-.4.8-.9.4-.5-.3-1.5.1-2.3.8-.7.7-1.7 1.5-2.3 1.6-.5.2-.9.7-.8 1.2.2.4-.5.5-1.4.2-1-.4-1.4-.2-1 .4.3.5-1 1.6-2.9 2.3-2.2.9-3.3 1.9-2.9 2.8.2.7 0 1-.5.7-.6-.3-1-.1-1 .4 0 .6-.6 1.1-1.2 1.1-.7 0-3.1 1.8-5.2 4s-4.3 3.7-4.9 3.3c-.6-.3-.7-.1-.3.5.3.6-.3 1.6-1.5 2.2-1.1.7-1.8 1.4-1.5 1.7.3.3-.7 1.6-2.3 2.7-1.5 1.2-2.9 2.4-3 2.8 0 .5-.4.8-.8.7-1.1-.1-2.4 3.1-1.7 4.3.4.7.3.8-.4.4-.6-.4-1.9.6-2.9 2.1s-2.2 3.3-2.8 4c-.5.7-1.5 1.8-2.1 2.6-.6.7-1.5 2.4-1.9 3.6-.4 1.2-.9 2-1.3 1.7-.3-.4-1.8 2.1-3.4 5.4-1.6 3.2-3.3 6.2-3.8 6.5-.6.4-1 1.5-1 2.6 0 1-.5 1.9-1.2 1.9-.6 0-.9.3-.5.6.3.4-.3 2.4-1.4 4.5-1.1 2.2-1.7 3.9-1.3 3.9.4 0 .1.6-.5 1.3-.6.8-.8 1.7-.4 2 .3.4.1.7-.6.7-.6 0-1.1.8-.9 1.7.2 1-.1 1.7-.7 1.6-.5-.1-1 .8-1.1 2-.1 3.6-.9 7.2-1.6 7.7-.7.6-1.7 6-2.1 11.2-.1 1.6-.5 2.8-.9 2.8s-.5 1.1-.2 2.5c.2 1.4.1 2.5-.4 2.5-1 0-.9 3 .1 4.7.4.6.3 1.5-.3 1.8-.8.5-.8 1.1 0 2 .7.9.8 1.5.1 2-1.4.8-1.2 18.6.3 20.4.9 1.2.8 1.3-.4.6-1.3-.8-1.3-.7-.1.8 1 1.3 1 1.7.1 1.7-1 0-1 .3-.1 1.4.9 1 .9 1.6.1 2.1s-.6 1.3.6 2.6 1.3 1.9.4 1.9-.9.4-.3 1.2c.6.7.9 2.1.8 3-.2 1 0 1.8.4 1.8s.7.8.7 1.7c.1 1.9.7 4.9 1.9 9.6.4 1.5 1.2 2.7 1.9 2.7s.6.4-.3.9c-.9.6-1 1.1-.2 1.5.6.4 1.1 1.8 1.1 3.1s.4 2.5.9 2.7c.5.1 1.1 1.4 1.3 2.8.1 1.4.9 3.1 1.6 3.8.7.8 1 1.8.7 2.3-.4.5-.1.9.4.9.6 0 1.1.9 1.1 2s.5 2 1 2c.6 0 1 .9 1 2s.4 2 .8 2c.5 0 1.4 1.6 2.2 3.5.8 1.9 1.7 3.5 2.2 3.5.4 0 .5.7.2 1.5-.4 1 0 1.5 1.2 1.5.9 0 1.4.3 1.1.7-.4.3.1 1.2 1.1 2 1 .9 1.1 1.2.2.7-1.5-.7 1.1 2.9 3.7 5.2.6.6 1.3 1.6 1.5 2.4.2.8 1.5 2.6 3 4.2 1.6 1.5 2.8 3 2.8 3.4 0 .3 1.3 1.8 3 3.4 1.6 1.5 2.6 3 2.3 3.4-.3.3-.1.6.6.6 1.4 0 7.1 5.7 7.1 7.1 0 .4.7.6 1.5.3.9-.4 1.5 0 1.5.9s.5 1.9 1.2 2.3c.7.5.8.2.3-.7-.4-.8.6.1 2.4 1.9 1.7 1.8 3.1 3 3.1 2.6 0-.4.9.3 2 1.6s2 1.9 2 1.4.5-.1 1.1.8c.5 1 1.9 1.8 3 1.8s1.7.4 1.4 1c-.3.5-.1 1 .6 1s2.8 1.2 4.7 2.7c2 1.5 3.2 2 2.8 1.2-.4-.8-.1-.6.7.3.8 1 2.2 1.8 3.1 1.8.9 0 1.6.4 1.6 1 0 .5.9 1 1.9 1 1 0 2.1.7 2.5 1.5.3.8 1.2 1.2 2 .9.8-.3 1.7-.1 2.1.5.3.6 1.5 1.1 2.6 1.1 1 0 1.9.5 1.9 1.1 0 .6.7.9 1.5.5.8-.3 1.5-.1 1.5.5s.5.7 1 .4c.6-.3 1-.1 1 .5s.4.9.9.5c.5-.3 1.2-.1 1.6.4.3.6 1.2.8 2 .4.8-.3 1.5 0 1.5.5 0 .6.9.9 1.9.7 1.1-.2 2.5.3 3.1 1 .7.8 2.5 1.3 4.1 1.1 1.6-.2 2.9.1 2.9.6s.4.7.9.3c.5-.3 1.3-.1 1.6.5.5.8 1.1.7 2.1-.1 1.1-.9 1.4-.9 1.4.1 0 .8 1.2 1.1 3.4.8 2.1-.2 3.2 0 2.9.6-.4.5.1.7.9.3.9-.3 1.9-.3 2.2.1 1.1 1 4.6.9 4.6-.2 0-.8.3-.8.8 0 1 1.6 20.2 1.6 22.1.1 1.1-.9 1.3-.9.8 0-.5.8 0 1.1 1.3 1 1.1-.1 2-.5 2-1s.7-.4 1.5.3 1.5.8 1.5.2c0-.5 1.4-.8 3-.7 1.7.1 3-.2 3-.9 0-.6.5-.4 1 .4.8 1.2 1 1.2 1 .1 0-.8.3-1.1.7-.8.3.4 1.2.2 2-.4.7-.6 1.3-.7 1.3-.2 0 .5.9.9 2 .9s1.9-.5 1.6-1.1c-.2-.6.8-1.2 2.3-1.2 4.7-.3 6.9-.9 8.5-2.2 1.3-1.1 1.6-1.1 1.6 0 0 1.2.2 1.2.9 0 .5-.7 1.4-1 2-.7.6.4 1.1.2 1.1-.4 0-.6.4-.9.9-.5.5.3 1.3 0 1.6-.6.4-.5 1.3-.8 2-.5.8.3 1.5 0 1.7-.6.2-.6 1.5-1.3 2.8-1.5 1.3-.2 2.7-.8 3.1-1.5.4-.6 1.2-.7 1.8-.4.6.4 1.1.3 1.1-.2s1-1.3 2.3-1.7c1.2-.4 2.4-.8 2.7-1 .3-.1 1.3-.5 2.2-.9 1-.5 1.6-1.1 1.4-1.5-.3-.4.4-.7 1.4-.8 1.1-.1 2.9-1.1 4.1-2.2 1.2-1.1 2.6-1.8 3.1-1.5.4.3 1.1-.2 1.4-1 .3-.9 1.2-1.6 2-1.6s1.4-.5 1.4-1.1c0-.6.7-.8 1.6-.5.8.3 1.2.2.9-.4-.3-.6-.2-1 .2-1 .5 0 2-1.1 3.4-2.4 1.4-1.3 3.5-2.7 4.7-3 1.2-.4 2.1-1 1.9-1.4-.2-.4.9-2 2.5-3.5 1.5-1.5 2.8-2.5 2.8-2.2 0 .3.6 0 1.4-.7.8-.7 1.2-1.6.9-2.1-.2-.4.4-.7 1.3-.7 1 0 1.4-.3 1.1-.7-.4-.3.5-1.5 2-2.5 1.6-1 2.4-1.8 1.9-1.8-.4 0 .5-1.3 2-2.8 3.5-3.4 8.7-9.9 9.3-11.5.2-.6 1.2-2 2.3-3.1 1-1.1 1.6-2.7 1.3-3.5-.3-.9-.3-1.2.1-.9 1 1.1 3.2-1.5 2.6-3.1-.3-.8-.1-1.2.5-.8.6.4 1.4 0 1.7-.9.4-1 .2-1.3-.6-.7-.7.4-.3-.6 1-2.1 1.2-1.6 2.2-3.5 2.2-4.3 0-.8.5-1.1 1.2-.7.8.5.9.2.5-.9-.4-1-.1-1.7.5-1.7s.8-.3.5-.7c-.4-.3-.2-1.2.4-2 .6-.7.8-1.3.5-1.3-.4 0 0-.7.9-1.6.9-.9 1.4-2.2 1.1-3-.3-.7-.1-1.4.4-1.6.5-.2 1.1-1.3 1.3-2.6.2-1.3 1-2.8 1.8-3.3 1.2-.7 1.2-.9-.1-.9-.9 0-1.1-.3-.5-.8 1.4-1 3.7-10.1 2.9-11.4-.4-.7-.2-.8.4-.4.8.5 1.2-.1 1.3-1.6 0-1.3.2-3.2.5-4.3.2-1.1.5-3.6.7-5.6.2-2 .7-4.1 1.1-4.8.4-.6.5-1.1.1-1.1-.3 0-.1-.9.5-1.9.7-1.4.7-2.2-.2-2.7-.7-.5-.8-.3-.3.6.5.9.4 1.1-.4.6-.9-.6-.9-1.1 0-2.2 1.9-2.3 1.5-28.3-.5-29.6-.7-.5-.6-.8.3-.8 1 0 1.1-.3.2-1.4-.9-1-.9-1.6-.1-2.1.7-.5.8-1.1.1-1.9-.5-.6-1.2-2.5-1.5-4.1-.2-1.7-.5-3-.6-3-.1 0-.3-.9-.5-2-.8-5.5-1.7-9-2.7-10.2-.5-.7-.8-2-.4-2.8.3-.8.1-1.5-.3-1.5-.5 0-1.2-.7-1.5-1.6-.4-1-.2-1.3.7-.8.6.4.5-.1-.5-1.2-.9-1-1.8-2.8-2-3.9-.1-1.1-.7-2.3-1.1-2.6-.4-.3-.9-1.6-1-2.7-.1-1.2-.5-2.2-1-2.2-.4 0-.5-.5-.2-1 .3-.6.1-1-.5-1s-.8-.5-.5-1c.3-.6.2-1-.3-1-.4 0-1.4-1.6-2.2-3.5-.8-1.9-1.8-3.5-2.2-3.5-.5 0-.7-.4-.4-.9.3-.5-.1-1.4-.9-2.1-.8-.7-1.5-1.9-1.5-2.6 0-.8-.4-1.4-1-1.4-.5 0-1-.6-1-1.3 0-1-1.4-2.9-6-8.5-.6-.6-.8-1.2-.5-1.2.3 0 0-.6-.7-1.4-.7-.8-1.6-1.2-2-.9-.5.2-.8-.5-.8-1.7s-.4-1.8-1-1.5c-.5.3-1 .1-1-.5s-.5-.8-1.2-.4c-.8.5-.8.2.1-1 .8-.9 1-1.6.5-1.4-1.1.4-8.4-6.9-7.6-7.6.3-.3-.1-.6-.8-.6-.7 0-2.6-1.4-4.2-3-1.5-1.7-3.3-3-3.8-3-.6 0-1-.7-1-1.6 0-.8-.4-1.3-.8-1-.5.3-1.4-.4-2.2-1.4-.8-1-1.7-1.7-2.2-1.4-.4.3-1.1-.2-1.4-1-.3-.9-1.2-1.6-2-1.6s-1.4-.5-1.4-1c0-.6-.6-1-1.3-1-.7 0-2-.9-3-2-1-1.2-2.2-1.8-2.7-1.5-.5.3-1.5-.3-2.1-1.3-.8-1.2-2-1.8-3.3-1.5-1.8.4-1.9.3-.6-.7 1.3-1 1.1-1.1-.7-.7-1.2.3-2.1.2-2-.2.1-.3-.1-.8-.5-.9-.4-.2-4.1-2.1-8.2-4.2-4.2-2-7.3-3.4-7-2.9.3.5-.2.6-1 .3-.9-.3-1.4-1-1.1-1.4.3-.5-.6-.7-2-.5-1.4.1-2.5-.2-2.5-.7 0-.5-.4-.6-1-.3-.5.3-1 .2-1-.3s-.7-.9-1.5-1c-.8-.1-2.2-.3-3-.4-.8-.1-1.5-.5-1.5-.9s-.8-.6-1.7-.4c-1 .1-2.7-.5-3.7-1.4-1.1-.9-1.6-1.1-1.3-.4.5.8 0 1.1-1.3 1-1.1-.1-2-.5-2-1s-.7-.7-1.5-.4c-.8.4-1.7.2-2-.2-.2-.5-1.8-.7-3.5-.6-1.6.1-3-.2-3-.7 0-.6-.8-.4-1.7.3-.9.8-1.4.9-1 .3.6-1.1-.7-1.2-19.4-1.7-3.6-.1-8.2.1-10.1.4zM178 61.5c17.7 4.1 31.3 12.7 39.5 25 4.3 6.6 8.7 19.9 8.3 25.1l-.3 3.9-21.2.3c-17.3.2-21.3 0-21.3-1.1 0-3.7-3.4-12.1-6.2-15.3-5.3-6-10.5-7.7-22.2-7.2-11 .4-14.2 1.6-19.5 6.8-3.7 3.8-5.6 9.5-4.7 14.5 1.6 8.4 11.5 15 34.6 23 25.8 9 41.6 18 49.8 28.4 7.7 9.8 11.2 19.8 11.2 32.7 0 27-18.3 45.1-50.5 50-39.4 6-76.4-8.6-88.9-35-2.9-6.1-5.6-16.4-5.6-21.4V188h43.7l.7 5.6c1.9 15.9 14.4 24.4 34.4 23.2 16.4-1 25.1-10.2 22.2-23.5-2-8.8-8.4-14.3-23-19.7-3.6-1.3-11.7-4.3-18-6.7-31-11.4-47-24.3-52.5-42.5-2.2-7.3-1.9-20.8.5-28 6-17.2 21-28.8 45-34.5 9.8-2.3 34.7-2.5 44-.4z"/></svg>');
                background-size: 25px 25px;
                height: 25px;
                width: 25px;
            }
        }

        &.github {
            //Color is in the other file to support dark mode
        }

        &.bitbucket {
            background-color: #0052cc;
            color: #ffffff;
            font-size: 17px !important;
            border-radius: 50%;
            padding: 4px;
            opacity: 1;
        }

        &.gitlab {
            background-color: #fc6d26;
            color: #ffffff;
            font-size: 17px !important;
            border-radius: 50%;
            padding: 4px;
            opacity: 1;
        }

        &.vimeo {
            background-color: #1ab7ea;
            color: #ffffff;
            font-size: 17px !important;
            border-radius: 50%;
            padding: 4px;
            opacity: 1;
        }

        svg {
            display: inline-block;
        }

        &.full-color {
            opacity: 1;
        }
    }

    .tweet-icon {
        font-size: 1.1em;
    }

    .retweet-icon {
        opacity: 0.6;
        width: 1.3em !important;

        &.retweet-color {
            color: #2cb539;
        }
    }

    .favourite-icon {
        font-weight: 100;
        width: 1.1em !important;

        &.favourite-color {
            color: lightcoral;
        }
    }

    .comment-icon {
        font-weight: 100;
        width: 1.1em !important;

        color: lightslategray;
    }

    .forum-icon {
        font-size: 1em;
        width: 1.2em !important;
    }

    .source-code-icon {
        font-size: 1em;
        width: 1.3em !important;
    }

    .annotated-code-icon {
        font-size: 1em;
    }

    .video-icon {
        font-size: 1em;
        width: 1.1em !important;
    }

    .highlight-icon {
        font-size: 1em;
        width: 1.1em !important;
    }

    .blog-icon {
        font-size: 1em;
    }

    .upvote-icon {
        font-weight: 600;
        width: 1.1em !important;

        color: dodgerblue;
    }

    .thumbs-up-icon {
        font-weight: 100;
        width: 1.1em !important;

        color: lightcoral;
    }

    .star-icon {
        width: 1.1em !important;

        color: gray;
    }

    .view-icon {
        font-weight: 100;
        width: 1.1em !important;

        color: dodgerblue;
    }

    .stars-icon {
        font-weight: 100;
        width: 1.1em !important;

        color: #f1e05a;
    }

    .bookmark-icon {
        opacity: 0.5;
    }

    .icon-container {
        display: inline-block;

        .icon {
            width: 1em;

            &:not(:last-child) {
                margin-right: 0.25rem;
            }
        }
    }

    .tweet-tag {
        display: inline-block;
        margin-right: 10px;
        font-size: 0.8rem;

        &.icon-container {
            .icon {
                margin-right: 0.15rem;
            }
        }
    }

    .input-container {
        flex: 1 0 100%;

        .input-content,
        .select-content {
            display: flex;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;

            input,
            textarea,
            select {
                flex: 1 1 auto;
                padding: 0.375rem 0.75rem;
                border: none;
                outline: none;
                background: none;
                line-height: 25px;

                &:focus {
                    box-shadow: none;
                }

                &.markdown {
                    font-family: monospace;
                    font-size: 0.8rem;
                    line-height: 1.5;
                }
            }

            select {
                height: 25px;
                box-sizing: content-box;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }

        .select-content {
            position: relative;

            &:after {
                content: 'ï„‡';
                font: 1.2em 'Font Awesome 5 Free';
                font-weight: 900;
                position: absolute;
                top: 0.6rem;
                right: 0.75rem;
                pointer-events: none;
            }
        }
    }

    .mt-2 {
        margin-top: 0.5rem !important;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .input-item {
        margin: 10px 0;

        .item-key {
            text-transform: uppercase;
            font-weight: bolder;
            width: 150px;
        }

        &.inline {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            font-size: 0.9rem;

            .item-key {
                width: unset;
                text-transform: unset;
                margin: 0 1em 0 0;
            }
        }
    }

    input,
    .item-value {
        -webkit-touch-callout: default;
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
    }

    .btn-refresh {
        position: relative;

        & > .time-remaining {
            font-size: 0.5em;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    .nav-links {
        position: fixed;
        z-index: 10000;
        left: -10px;
        height: 100%;
        padding-top: 2vh;
        margin-top: -10px;
        width: 250px;
        transform: translate(-100%);
        transition: transform 0.3s ease-in;

        .tab {
            margin-left: 30px;
            display: block;
            width: 80%;
            cursor: pointer;
            margin-top: 20px;
        }

        span {
            margin-left: 15px;
            font-size: 15px;
            font-weight: bold;
        }

        h6 {
            font-size: 0.7rem;
            font-weight: bolder;
        }

        h5 {
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    .nav-link {
        display: block;
        text-decoration: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        white-space: nowrap;
    }

    .custom-button {
        margin: 20px 5px;
        font-weight: bold;
        text-align: center;

        &.upper-case {
            text-transform: uppercase;
        }
    }

    .label-text {
        display: inline-block;
        font-size: 0.6rem;
        font-weight: 500;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
    .text-uppercase {
        text-transform: uppercase !important;
    }
}
