@import 'common';

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background: #ecf0f3;
    margin: 0;
}

#papers-bar-container {
    .list-group-item {
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ecf0f3;

        .custom-button {
            margin: 10px;
        }
    }

    .list-container {
        padding: 8px 8px 50px;
    }

    /* Loader */
    .loader-container {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .center-container {
            text-align: center;

            .loader {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                -webkit-animation: spin 0.5s linear infinite; /* Safari */
                animation: spin 0.5s linear infinite;
                display: inline-block;
            }
        }
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .spin {
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
}
